<div id="myCarousel" class="carousel slide" data-ride="carousel">

 <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
     <p>{{questionnaireName}}</p>
      <ul class="carousel_list__step">
        <li *ngFor="let procedure of procedureList">{{procedure.name}}</li>
      </ul>
    </div>
  </div>

  <!-- Left and right controls -->

</div>
