<div class="constructor">
  <form class="form-group businesType">
    <div *ngIf="wrongBusinessType" class="alert alert-warning">
      {{errorMessage}}
    </div>
    <div>
      <label for="businesType">Виберіть тип бізнесу</label>
      <div class="clear"></div>
      <div class="row">
        <div class="col-xs-12">
          <ng-select class="kvedControl"
                     [options]="kvedsSelect"
                     placeholder="Виберіть існуючий КВЕД"
                     (selected)="chooseTypeBusinessFromServer($event)"
                     notFoundMsg="Не знайдено"></ng-select>
          <i class="fa fa-check"></i>
        </div>
      </div>
    </div>
    <div *ngIf="businessType.title != '' || businessType.codeKved != ''"
         class="inner-addon right-addon">
      <i *ngIf="successBusinessType" class="glyphicon glyphicon-ok" style="color:#bfff83"></i>
      <input class="form-control"
             [ngClass]="businessTypeTitleClass"
             placeholder="Назву бізнесу не вибрано" type="text"
             id="businesType"
             readonly
             [(ngModel)]="businessType.title"
             name="businesTypeTitle" #name="ngModel">
    </div>
    <div *ngIf="businessType.title != '' || businessType.codeKved != ''"
         class="inner-addon right-addon">
      <i *ngIf="successBusinessType" class="glyphicon glyphicon-ok" style="color:#bfff83"></i>
      <input class="form-control"
             [ngClass]="businessTypeKvedClass"
             placeholder="Номер КВЕД не вибрано"
             id="businesType"
             readonly
             [(ngModel)]="businessType.codeKved"
             name="businesTypeCodeKved" #name="ngModel">
    </div>
  </form>
  <form class="form-group businesType">
    <div *ngIf="wrongQuestionnaire" class="alert alert-warning">
      {{errorMessage}}
    </div>
    <label for="questionnaire">Назва опитувальника</label>
    <div class="inner-addon right-addon">
      <i *ngIf="successQuestionnaire" class="glyphicon glyphicon-ok" style="color:#bfff83"></i>
      <input class="form-control"
             [ngClass]="questionnaireClass"
             placeholder="Введіть назву опитувальника" type="text"
             id="questionnaire"
             required [(ngModel)]="questionnaire.title"
             name="questionnaire" #name="ngModel">
    </div>
    <div class="clear"></div>
    <div class="row">
      <div class="col-xs-2">
        <button type="submit" class="btn btn-primary" (click)="saveQuestionnare()">Зберегти</button>
      </div>
    </div>
  </form>
  <div class="questions">
    <div *ngFor="let question of questions; let questionIndex = index;"
         (click)="onSelectQuestion(question)">
      <div *ngIf="selectedQuestion == question && wrongQuestion" class="alert alert-warning">
        {{errorMessage}}
      </div>
      <label>Питання</label>
      <div class="inner-addon right-addon">
        <i *ngIf="questionIndex == questionFieldIndexWithChange"
           class="glyphicon glyphicon-ok" style="color:#bfff83"></i>
        <input class="form-control"
               [ngClass]="{successSubmission: questionIndex == questionFieldIndexWithChange}"
               [(ngModel)]="question.text"
               placeholder="Введіть питання"
               (blur)="saveQuestion(question)"/>
      </div>
      <input type="checkbox" (change)="changeInputType(question)">Декілька варіантів відповіді
      <i *ngIf="inputTypeFieldIndexWithChange == questionIndex"
         class="glyphicon glyphicon-ok" style="color:#bfff83"></i>
      <div class="option" *ngFor="let option of question.options; let optionIndex = index;"
           (click)="onSelectOption(option)">
        <div *ngIf="option.id == optionIndexError" class="alert alert-warning">
          {{errorOptionMessage}}
        </div>
        <label>Відповідь</label>
        <div class="inner-addon right-addon">
          <i
            *ngIf="questionOptionFieldIndexWithChange == questionIndex && optionIndex == optionFieldIndexWithChange"
            class="glyphicon glyphicon-ok" style="color:#bfff83"></i>
          <input class="form-control"
                 [ngClass]="{successSubmission: questionOptionFieldIndexWithChange == questionIndex && optionIndex == optionFieldIndexWithChange}"
                 [(ngModel)]="option.title"
                 placeholder="Введіть відповідь"
                 (blur)="saveOption(question, option)"/>
        </div>
        <div *ngIf="selectedOption == option && selectedQuestion == question">
          <div class="col-xs-12">
            <ng-select class="kvedControl"
                       [options]="questionsSelect"
                       placeholder="{{linkedQuestion}}"
                       (opened)="formingQuestionSelect(question)"
                       (selected)="questionLinker($event, option); onSelectQuestion(question)"
                       notFoundMsg="Не знайдено">fdgsdfgsdf
            </ng-select>
          </div>
          <div *ngIf="!some">
            <div class="col-xs-12">

              <ng-select class="kvedControl"
                         [options]="proceduresSelect"
                         placeholder="{{linkedProcedure}}"
                         (selected)="procedureLinker($event, option); onSelectQuestion(question)"
                         notFoundMsg="Не знайдено"></ng-select>
            </div>
          </div>
        </div>
      </div>
      <div class="btnAddOption" *ngIf="selectedQuestion == question">
        <button class="btn btn-sm btn-success" (click)="addOption(question.options)">Додати
          відповідь
        </button>
        <button class="btn btn-sm btn-danger" (click)="deleteLastOption(question.options)">Видалити
          останюю відповідь
        </button>
      </div>
    </div>
    <button class="btn btn-success" (click)="addQuestion()">Додати питання</button>
    <button class="btn btn-danger" (click)="deleteLastQuestion()">Видалити останнє питання</button>
  </div>
  <div class="save-btn">
    <button *ngIf="questions != undefined" class="btn btn-success"
            [routerLink]="['/']"
            [disabled]="!canSubmit">Зберегти
      опитувальник і перейти на головну
    </button>
  </div>
</div>
